#file{
    display: none;
}

#preview {
    height: 240px;
    width: 300px;
    margin-bottom: 40px;
}

#view {
    margin-top: 90px;
    text-align: center;
}

.image {
    display: flex;
    justify-content: center; 
}

.illust {
    margin-top: 250px;
    display: flex;
    justify-content: center;
}

#h2 {
    margin-top: 200px;
    text-align: center;
}

#id {
    margin-top: 40px;
    text-align: center;
}

.name {
    display: flex;
    justify-content: center; 
    margin-bottom: 30px;
}

input#customTextBox {
    background-image: url(../image/img_input_name.svg);
    border: none;
    outline: none;
    width: 268px;
    height: 41px;
}

#my_file {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;   
}

#upload {
    display: flex;
    justify-content: center; 
}

#result {
    margin-top: 70px;
    display: flex;
    justify-content: center; 
    width: 200px;
    height: 200px;
}