<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles_collection.css">
    <title>collection</title>
</head>
<body>
    <img class="top" src="../image/img_list_friends.svg">
    <div class="list">
        <div class="paragraph">
            <div class="friend">
                <div>
                    <img src="../image/img_sample_simulacra.png">
                </div>
                <p>ジェシー君</p>
            </div>
            <div class="friend">
                <div>
                    <!--imgタグを動的に追加してください-->
                </div>
                <p>????</p>
            </div>
        </div>
        <div class="paragraph">
            <div class="friend">
                <div>
                    <!--imgタグを動的に追加してください-->
                </div>
                <p>????</p>
            </div>
            <div class="friend">
                <div>
                    <!--imgタグを動的に追加してください-->
                </div>
                <p>????</p>
            </div>
        </div>
        <div class="paragraph">
            <div class="friend">
                <div>
                    <!--imgタグを動的に追加してください-->
                </div>
                <p>????</p>
            </div>
            <div class="friend">
                <div>
                    <!--imgタグを動的に追加してください-->
                </div>
                <p>????</p>
            </div>
        </div>
        <div class="paragraph">
            <div class="friend">
                <div>
                    <!--imgタグを動的に追加してください-->
                </div>
                <p>????</p>
            </div>
            <div class="friend">
                <div>
                    <!--imgタグを動的に追加してください-->
                </div>
                <p>????</p>
            </div>
        </div>
    </div>
</body>
</html>