<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>名前作成中</title>
        <link href="../static/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="result">
            <img src="../result/1.jpg" alt="がぞう">
        </div>
        <br>
        <h2 id="h2">なまえをきめてあげよう！</h2>
        <div class="name">
            <input type="text" id="customTextBox">
            <!-- <img src="../image/img_input_name.svg" alt="なまえをきめるがぞう"> -->
        </div>
        <br>
        <div class="name">
            <img src="../image/img_dicision.svg" alt="けっていボタン">
        </div>
    </body>
</html>