<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>送信中</title>
        <link href="../static/styles_send.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="illust">
            <img src="../image/loading.gif" alt="がぞう">
        </div>
        <h2 id="h2">そうしんかんりょう</h2>
        <h2 id="id">あなたのIDは{{count_file}}です</h2>
        <p>ID</p>
        <form action="image" method="get">
            <input type="text" name="imageID">
            <input type="submit" name="submit">
        </form>
    </body>
</html>