<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>送信中</title>
        <link href="../static/styles_send.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="loading">
            <img src="../image/loading.gif" alt="がぞう">
        </div>
        <form action="image" method="get">
            <input type="hidden" name="imageID" class="imageID" value={{count_file}}>
            <label>
                <div class="next">
                    <img src="../image/img_next.svg">
                </div>
                <input type="submit" name="submit" class="submit">
            </label>
        </form>
    </body>
</html>