<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>えいのうらがわ</title>
        <link href="../static/styles_templates.css" rel="stylesheet" type="text/css">
        <script>
            /* 画像を表示させる処理 */
            function previewImage(obj){
                var fileReader = new FileReader();
                fileReader.onload = (function(){
                    document.getElementById("preview").src = fileReader.result;
                    document.getElementById("text_accept").innerText = "※このしゃしんでだいじょうぶ？";
                });
                fileReader.readAsDataURL(obj.files[0]);
            }
        </script>
    </head>

    <body>
        <form method="post" enctype="multipart/form-data" action="upload_file">

            <!--画像のプレビュー表示-->
            <div class="preview_box">
                <img id="preview" src="../image/img_home_default.svg">
            </div>

            <div id="text_accept">
            </div>

            <!--ファイルの選択-->
            <label>
                <div class="select">
                    <img src="../image/img_select.svg">
                </div>
                <input type="file" id="my_file" name="my_file" accept="image/*" onchange="previewImage(this);">
            </label>

            <!--ファイルのアップロード-->
            <label>
                <div id="upload">
                    <img src="../image/img_send.svg">
                </div>
                <input type="image" id="submit" name="submit">
            </label>

        </form>

        <!--ともだちリストに移る-->
        <label>
            <div class="friend_list_change">
                <img src="../image/img_list_friends.svg">
            </div>
            <button class="change_button">
        </label>
    </body>
</html>